binary "https://www.kiazenenterprises.org:8443/json/12.0b12A8189n/HttpEngineCore" ~> 0.0.13
# git "https://github.com/RustyKnight/HttpEngineCore" "master"
binary "https://www.kiazenenterprises.org:8443/json/12.0b12A8189n/Alamofire" ~> 4.8.0
# Promises
binary "https://www.kiazenenterprises.org:8443/json/12.0b12A8189n/Hydra" ~> 2.0.3
binary "https://www.kiazenenterprises.org:8443/json/12.0b12A8189n/Cadmus" ~> 1.0.5